body, * {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    max-height: 100vh;
}

#test1 {
    min-height: 130vh;
    width: 3000px;
    background-color: #777;
    background-image: url('assets/apartment.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}

#debug {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0,0,0, .5);
    color: #fff;
    padding: 15px;
    border: 2px solid #fff;

    opacity: .3;
}

#debug:hover{
    opacity: 1;
}


#debug textarea {
    width: 100%;
    max-width: 100%;

    height: 100px;
}

/*#test1 .ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;

    background-color: #524cc6;
}*/

#test1 .entity {
    position: absolute;

    height: 200px;
    width: 250px;
    /*border: 3px solid #19e29a;*/
}

#test1 .entity .character {
    /*border-radius: 100%;
    background: #39c695;*/
    /*background-image: url('./gifs/walk.gif');*/
    position: absolute;
    height: 300px;
    width: 300px;

    top: calc(50% - 30px);
    left: 50%;

    transform: translate(-50%, -50%);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#test1 .entity .character{
    background-image: url('assets/cat/idle.png');
}
#test1 .entity[data-state*="idle"]  .character{
    background-image: url('assets/cat/idle.gif');
    background-size: 75%;
    margin-top: 15px;
}
#test1 .entity[data-state*="jump"] .character {
    background-image: url('assets/cat/jump.png');
}
#test1 .entity[data-state*="falling"] .character {
    background-image: url('assets/cat/falling.png');
}
#test1 .entity[data-state*="walk"] .character {
    background-image: url('assets/cat/walk.gif');
}
#test1 .entity[data-state*="left"] .character {

}
#test1 .entity[data-state*="right"] .character {
    transform: translate(-50%, -50%) rotateY(180deg);
}

#test1 .ground {
    position: absolute;
    height: 80px;
    width: 100%;
    left: 0;
    bottom: 0;
    /*background-color: #242424;*/
    opacity: .2;
}
