@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Press+Start+2P&display=swap');

body, * {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
    max-height: 100vh;

    font-family: "Inter Tight", sans-serif;  /*"Press Start 2P", serif; #524cc6*/
    color: #2b2d30;
}

#scene {
    min-height: 1100px;
    min-width: calc(1100px * 4.5);
    background-color: #777;
    background-image: url('assets/apartment.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}

#scene:before{
    content: '';
    display: block;
    padding-left: 450%;
}


#debug {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(0,0,0, .5);
    color: #fff;
    padding: 15px;
    border: 2px solid #fff;

    opacity: .3;
    transform: scale(.1) translate(-100%, 100%);

    transition-property: transform, opacity;
    transition-duration: 1s;
}

#debug:hover{
    opacity: 1;
    transform: scale(1);
}


#debug textarea {
    width: 100%;
    max-width: 100%;

    height: 100px;
}

/*#scene .ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;

    background-color: #524cc6;
}*/

#scene .entity {
    position: absolute;

    height: 200px;
    width: 250px;
    z-index: 2;
    /*border: 3px solid #19e29a;*/
}

#scene .entity .character {
    /*border-radius: 100%;
    background: #39c695;*/
    /*background-image: url('./gifs/walk.gif');*/
    position: absolute;
    height: 350px;
    width: 430px;

    top: calc(50% - 30px);
    left: 50%;

    transform: translate(-50%, -50%);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#scene .entity .character{
    background-image: url('assets/cat/scratches/idle.png');
}
#scene .entity[data-state*="idle"]  .character{
    background-image: url('assets/cat/idle.gif');
    background-size: 60%;
    margin-top: 15px;
}
#scene .entity[data-state*="jump"] .character {
    background-image: url('assets/cat/jump.png');
}
#scene .entity[data-state*="falling"] .character {
    background-image: url('assets/cat/falling.png');
}
#scene .entity[data-state*="walk"] .character {
    background-image: url('assets/cat/walk.gif');
}
#scene .entity[data-state*="left"] .character {

}
#scene .entity[data-state*="right"] .character {
    transform: translate(-50%, -50%) rotateY(180deg);
}

#scene .ground {
    position: absolute;
    height: 80px;
    width: 100%;
    left: 0;
    bottom: 0;
}

#scene .let {
    position: absolute;
    /*background-color: #242424;
    opacity: .4;*/
}


/* test form */
section.test-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;

    z-index: 3;

    position: absolute;

    transition-property: opacity, transform;
    transition-duration: 400ms;
}

section.test-form.hidden {
    transform: translateY(15px);
    opacity: 0;
    pointer-events: none;
}

section.test-form.dark{
    background-color: #232327;
    color: #fff;
}

section.test-form > header{
    font-size: 1.4rem;
    font-weight: bold;
}
section.test-form p{
    opacity: .7;
}
section.test-form footer{
    text-align: right;
}
section.test-form button{
    background: #524cc6;
    color: #fff;
    padding: 4px 15px;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    transition: transform 400ms;
}

section.test-form button:hover{
    transform: scale(1.2);
}


/* loader */
#loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;

    background: #fff;
    pointer-events: none;
    transition: opacity 2s;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Press Start 2P", serif;
}

#loader.hidden {
    opacity: 0;
}